@import './../../Global.scss';

section.works {
    border-top: 1px solid var(--dark__green);
    box-shadow: 0px -1px 3px var(--dark__green);
    background-color: var(--dark__bg);

    .container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 3rem 0;

        @include mobile{
            height: 100%;
            padding-top: 3rem;
        }

        h1 {
            font-size: var(--font__nome);
            margin-bottom: 50px;

            @include mobile{
                margin-bottom: 10px;
            }
        }

        p {
            padding-bottom: 1rem;
            font-size: var(--font__title);
        }

        .menu__portifolio {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between; 
            gap: 1rem;
            margin-bottom: 3rem;

            select {
                width: 200px;
                padding: 10px 5px;
                text-align: center;
                border-radius: 15px;
                font-size: var(--font__text);
                box-shadow: 0px -1px 30px var(--dark__black);
                background: transparent;
                outline: 2px solid var(--dark__green);
                border: none;
                color: var(--color__defalt);
                transition: var(--simple_02s);
            }

            & select:focus {
                color: var(--dark__black);
                background: var(--dark__green);
            }

            .botao {
                padding: 10px 5px;
                width: 100px;
                text-align: center;
                border-radius: 15px;
                font-size: var(--font__text);
                background: transparent;
                outline: 2px solid var(--dark__green);
                border: none;
                color: var(--dark__green);
                transition: var(--simple_02s); 
                box-shadow: 0px -1px 30px var(--dark__black);
    
            }

            & .botao:hover {
                background-color: var(--dark__green);
                color: var(--dark__bg);
                box-shadow: 0px -1px 15px var(--dark__green__active);
    
            }

        }

        .items {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: 1rem;

            .item {
                width: 500px;
                height: 200px;
                margin: 0 1rem;
                border-radius: 15px;
                display: flex;
                text-align: center;
                align-items: center;
                flex-direction: column;
                justify-content: space-between;
                outline: 2px solid var(--dark__green);
                border: none;
                transition: var(--simple_02s); 

                @include mobile{
                    padding: 1.5rem;
                    width: 100%;
                    
                }
                
                h2 {
                    padding: 1rem;
                    font-size: var(--font__title);
                    
                    @include mobile{
                        padding: 0;
                    }

                    span {
                        color: var(--dark__green);
                    }
                }

                h4 {
                    font-size: var(--font__title);
                }

                h3 {
                    a {
                        color: var(--dark__green);
                    }
                }

                p {
                    font-size: var(--font__text);
                    margin-top: 15px;
                }
            }
            
            & .item:hover {
                transform: scale(1.1);
                background-color: var(--dark__green__active);
                color: var(--dark__black);
                
                @include mobile {
                    border-radius: 0;
                }
                
                span, a, p {
                    color: var(--dark__bg);
                    
                }
            }
        }
    }
}