@import './../../Global.scss';

.capa {
    width: 100%;
    height: 100%;
    padding: 5rem 0;

    @include mobile{
        height: 100%;
        width: 100%;
    }
    .container {
        display: flex;
        flex-direction: row;
        align-items: center;

        @include mobile{
            flex-direction: column;
        }

        .apresentacao {
            width: 100%;
            text-align: center;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            justify-content: center;
            
            @include mobile{
                gap: 1rem;
            }

            .img__jm {
                width: 30%;
                margin: 2rem auto;
                border-radius: 100px;
                border: 3px solid var(--dark__green);
                box-shadow: 5px 5px 50px black;
                transition: var(--simple_02s); 
                
                @include mobile{
                    width: 60%;
                }
            }

            & .img__jm:hover {
                transform: scale(1.1);
                transform: rotate(3px);
                outline: 1px solid var(--dark__blue);
                box-shadow: 0px 0px 50px var(--dark__green);
            }

            & .img__jm:active {
                outline: 5px solid var(--dark__blue);
            }

            h2 {
                color: var(--color__defalt);
                font-size: var(--font__capa);
                font-weight: 300;
            }

            h1 {
                color: var(--dark__green);
                font-size: var(--font__nome);
                transition: var(--simple_02s);
                font-weight: 300;
            }

            & h1:hover {
                color: var(--dark__green__active);
                font-weight: 600;
            }

            h3 {
                font-size: var(--font__title);
            }        

            .btns__capa {
                display: grid;
                width: 100%;
                grid-template-columns: 1fr 1fr;
           

                button {
          
                    margin: 0 1rem;
                    padding: 3rem 0;
                    border: 0;
                    outline: 1px solid var(--dark__green);
                    background: transparent;
                    color: white;
                    border-radius: var(--borda_curvada_1);
                    font-size: var(--font__title);
                    cursor:pointer;
                    transition: var(--simple_02s);
                    font-weight: 300;

                    @include mobile{
                        padding: 1rem;
                    }
                }

                & button:hover {
                    outline: 2px solid var(--dark__green__active);
                    box-shadow: 0px 0px 10px  var(--dark__green);
                    font-weight: 600;
                }

                & button:active {
                    outline: 2px solid var(--color__defalt);
                    box-shadow: 0px 0px 10px  var(--dark__green);
                    background: var(--dark__green__active);
                    color: var(--dark__bg);
                }
            }
        }
    }
}
@media screen and (max-width: 680px) {
    .container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}