@import './Global.scss';
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    /* Cores */
    --dark__bg: #044444;

    --color__defalt: #f2f2f2;

    --dark__black: #333333;
    --dark__blue: #285CBD;
    --dark__green: #ADFF2F;

    --dark__green__active: rgb(227, 255, 186);

    /* Fonts */
    --font__lato: 'Lato', sans-serif;

    --font__text: 1.1rem;
    --font__title: 1.5rem;
    --font__capa: 2rem;
    --font__nome: 3rem;

    /**/
    --simple_1s: all 1s ease-out;
    --simple_02s: all 0.2s ease-out;

    /**/
    --borda_curvada_1: 5px;

    @include mobile{
        --font__text: 1.1rem;
        --font__title: 1.3rem;
        --font__capa: 1.7rem;
        --font__nome: 2.5rem;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font__lato);
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

html, body {
    background: var(--dark__bg);
    color: var(--color__defalt);
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
}

